<h1>Main page</h1>
<% @post.each do |post| %>
<div class="alert alert-dark">
  <h3><%=post.title %></h3>
  <p> <%=post.body %> </p>
  <%= link_to "Read", post_path(post), {:class => "btn btn-outline-primary"} %>
</div>

<% end %>
